{% extends "zerver/portico_signup.html" %}

{% block portico_content %}
<div class="register-account flex full-page" id="sponsorship-form">
    {% if sponsorship_pending %}
    <h3>Your organization has requested sponsored or discounted hosting.</h3>
    <br />
    Please <a href="mailto:support@zulip.com">contact Zulip support</a> if you have any questions or concerns.
    {% elif is_sponsored %}
    <center>
        <p>
            <h3>💚 Your organization is fully sponsored and is on the <b>Zulip Cloud Standard</b> plan.</h3>
        </p>
    </center>
    {% else %}
    <center>
        <p>
            <h2>Your organization is on the <b>Zulip Free</b> plan.</h2>
            <a href="/upgrade/">
                <button type="submit" class="button green">Upgrade to Standard</button>
            </a>
            <a href="/plans/">
                <button type="submit">View all plans</button>
            </a>
        </p>
    </center>
    {% else %}
    <div class="center-block new-style">
        <div class="pitch">
            <h1>{{ _('💚 Request sponsorship') }}</h1>
        </div>
        <div id="sponsorship-error" class="alert alert-danger"></div>
        <form method="post" class="white-box" id="registration" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

            <fieldset class="support-request">
                <div class="input-box no-validation support-form-field">
                    <label for="support_realm" class="inline-block label-title">{{ _('Organization') }}</label>
                    <div id="support_realm">{{ realm_name }}</div>
                </div>
                <div class="input-box">
                    <div class="inline-block relative">
                        <select name="realm_type" id="realm_type" class="sponsorship-form-select">
                            {% for org_type in sorted_org_types %}
                                {% if not org_type[1].hidden %}
                                <option data-string-value="{{ org_type[0] }}"
                                  {% if org_type[1].id == realm_org_type %}selected{% endif %}
                                  value="{{ org_type[1].id }}">
                                    {{ _(org_type[1].name) }}
                                </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
            
                    <label for="realm_type" class="inline-block label-title">{{ _('Organization type') }}</label>
                </div>
                <div class="input-box no-validation support-form-field">
                    <label for="org_website" class="inline-block label-title">{{ _('Organization website') }}</label>
                    <input id="org_website" name="website" type="text" class="input-large" placeholder="{{ _('Leave blank if your organization does not have a website.') }}"/>
                </div>
                <div class="input-box support-form-field">
                    <label for="description" class="inline-block label-title">{{ _('Describe your organization briefly') }}</label>
                    <textarea id="description" name="description" cols="100" rows="5" required></textarea>
                </div>

                <div class="register-button-box">
                    <button class="register-button support-submit-button" type="submit">
                        <span>{{ _('Submit') }}</span>
                        <object class="loader" type="image/svg+xml" data="{{ static('images/loading/loader-white.svg') }}"></object>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
