<Table>
    <tr>
        <th>Unread</th>
        <th>Stream</th>
        <th>Topic</th>
        <th>Actions</th>
        <th>Active Users</th>
        <th>Last message</th>
    </tr>
    {{#each recent_topics}}
    {{> recent}}
    {{/each}}
</Table>
